.login-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;

  .login-page-box {
    background: #fff;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;

    h2 {
      color: #333;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1rem;

      .login-input-group {
        margin-bottom: 1rem;

        input {
          width: 100%;
          padding: 0.9rem; // Increase padding
          border-radius: 5px;
          border: 1px solid #ddd;
          font-size: 1rem;
          transition: border 0.3s ease-in-out;

          &:focus {
            border: 1px solid #007bff;
            outline: none;
          }
        }
      }

      button {
        background: #007bff;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.8rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background 0.3s ease-in-out;

        &:hover {
          background: #0056b3;
        }

        &:disabled {
          background: #b0c4de;
          cursor: not-allowed;
        }
      }

      .login-separator {
        font-size: 0.9rem;
        color: #555;
      }

      .login-register-link {
        color: #007bff;
        font-weight: bold;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

// Animations
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Responsive Design
@media (max-width: 480px) {
  .login-page-box {
    padding: 1.5rem;
  }
}
